---
interface Props {
  title: string;
  imageUrl: string;
}

const { title, imageUrl } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@auranti_st" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content={imageUrl} />

    <script>
      window.onload = function () {
        if (window.location.href.includes("maru0210.github.io")) {
          const redirectLocation = window.location.href.replace(
            "maru0210.github.io",
            "marunium.com"
          );
          window.location.href = redirectLocation;
        }
      };
    </script>
  </head>
  
  <body>
    <slot />
  </body>
</html>
