---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../css/global.css";

interface Props {
	title: string;
	imageUrl: string;
}

const { title, imageUrl } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@auranti_st" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content="" />
		<meta name="twitter:image" content={imageUrl} />
	</head>
	<body class="text-gray-900">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
